<h2 class="text-center mb-5" data-aos="zoom-in">
  Porque apenas profissionais de psicologia podem realizar uma avaliação
  psicológica?
</h2>
<br />
<div class="container-fill" data-aos="fade-up">
  <div class="row">
    <div
      class="col-sm-6 p-5 fs-4"
      style="background-color: var(--light-blue); color: var(--ucla-blue)"
    >
      <p class="text-center" data-aos="zoom-in">
        Segundo as diretrizes da Cartilha de Avaliação Psicológica do Conselho
        Federal de Psicologia (CFP), apenas profissionais formados em psicologia
        podem realizar avaliações psicológicas. Isso é garantido pelo Art. 13 da
        Lei nº 5.119/62, que regulamenta a profissão de psicólogo.
      </p>
    </div>
    <div
      class="col-sm-6 p-5 fs-4"
      style="background-color: var(--ucla-blue); color: var(--azure)"
    >
      <p class="text-center" data-aos="zoom-in">
        A lei estabelece que somente psicólogos podem utilizar métodos e
        técnicas psicológicas para: Diagnóstico psicológico Orientação e seleção
        profissional Orientação psicopedagógica Solução de problemas de
        ajustamento
      </p>
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-12 p-5 fs-4"
      style="background-color: var(--oxford-blue); color: var(--azure)"
    >
      <p class="text-center" data-aos="zoom-in">
        Embora estudantes e profissionais não psicólogos possam utilizar testes
        psicológicos em pesquisas acadêmicas, é recomendado que esses testes
        sejam realizados sob a orientação de um psicólogo. Isso garante a
        precisão e a ética na aplicação dos testes, uma vez que psicólogos
        possuem a formação adequada para interpretá-los corretamente.
      </p>
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-12 p-5 fs-4"
      style="background-color: var(--light-blue); color: var(--oxford-blue)"
    >
      <p class="text-center" data-aos="zoom-in">
        Essa regulamentação assegura que as avaliações sejam realizadas de forma
        profissional e segura, protegendo a integridade dos indivíduos
        avaliados.
      </p>
    </div>
  </div>
</div>
