<div id="content-two" class="container-fill">
    <div class="row align-items-center justify-content-center px-2 py-4 parte1">
        <div class="col-sm-5 text-center">
            <h3 class="">Avaliação Psicológica</h3>
            <p class="px-3">
                É um processo abrangente que coleta informações de várias fontes, 
                como entrevistas, questionários e observações, além de incluir testes psicológicos.
            </p>
        </div>
        <div class="col-sm-2 my-3 text-center">
            <img class="img-fluid" src="../../../assets/svg/diff.svg" width="150rem">
        </div>
        <div class="col-sm-5 text-center">
            <h3 class="">Testagem Psicológica</h3>
            <p class="px-3">
                É uma técnica específica dentro da avaliação psicológica que mede habilidades 
                ou características específicas, usando métodos padronizados para obter resultados objetivos.
            </p>
        </div>
    </div>

    <div id="hr" class="col-12"></div>

    <div class="row align-items-center justify-content-center px-2 py-4 parte2">
        <h3 class="text-center mb-4">Algumas áreas em que a avaliação pode ser aplicada</h3>
        <div class="d-flex flex-wrap gap-3 justify-content-center">
            <p>Organizacional</p>
            <p>Clínico</p>
            <p>Educacional</p>
            <p>Orientação profissional</p>
            <p>Jurídico</p>
            <p>Neuropsicológico</p>
            <p>Concurso público</p>
            <p>Porte de arma</p>
        </div>
    </div>
</div>
