<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#"><img href="#" src="assets/img/websico.png"></a>
    
    <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': !isMenuOpen, 'show': isMenuOpen}" class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link underline_animation" routerLink="/inicio">Início</a></li>
        <li class="nav-item "><a class="nav-link underline_animation" routerLink="/questionario">Formulário</a></li>
        <li class="nav-item"><a class="nav-link underline_animation" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link underline_animation" routerLink="/sobre">Sobre</a></li>
      </ul>
    </div>
</nav>