/* ------------------------------ NAVBAR ------------------------------*/

.bg-dark {
  height: 6rem;
  background: linear-gradient(
    to right,
    var(--oxford-blue),
    #202258
  );
}

.navbar-brand {
    padding-left: 3rem;
}

.navbar-brand img {
    width: 4rem;
}

.navbar-nav{
    padding-right: 3rem;
}

#navbarSupportedContent {
  display: none;

  &.show {
    display: block;
    background: linear-gradient(
      to right,
      var(--oxford-blue),
      #202258
    );
  }

  &.collapse {
    display: none;
  }
}

.nav-link {
  color: var(--azure);
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.5rem !important;
  transition: 0.3s color;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 0.1rem;
  bottom: 0.4rem;
  left: 12.5%;
  background-color: var(--light-blue);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.navbar-toggler {
  margin-right: 2rem;
  color: var(--light-blue);
}