<div id="sobre" class="container-fill text-center">
    <h2 class="py-4">Sobre nós</h2>
    <div data-aos="fade-up" class="row linha1">
        <h3 class="fs-4">Bem-vindo ao nosso site!</h3>
        <p>
            Somos um grupo interdisciplinar de estudantes dos cursos de Psicologia e Ciência da Computação,
             unidos para criar uma plataforma inovadora e informativa sobre avaliação psicológica. Este projeto,
              desenvolvido como parte da avaliação para a UC HUB do Grupo Ânima, é fruto da colaboração e dedicação
               de integrantes do Rio Grande do Norte e de Minas Gerais.
        </p>
    </div>
    <div data-aos="fade-up" class="row linha2">
        <h3 class="fs-4 pt-5">O Projeto</h3>
        <p>
            A plataforma que desenvolvemos tem como principal objetivo oferecer informações simples e acessíveis 
            sobre avaliação psicológica. Nossa homepage é intuitiva e fácil de navegar, permitindo que os usuários 
            encontrem rapidamente as informações que precisam.
        </p>
        <p>
            Além disso, temos uma aba dedicada ao preenchimento de um formulário com perguntas relacionadas ao tema
             da avaliação psicológica. Este formulário é fundamental para a coleta de dados, que posteriormente são
              apresentados em uma página de dashboard. Nesta página, os usuários podem visualizar indicadores e gráficos
               que representam as respostas coletadas, oferecendo insights valiosos sobre os temas abordados.
        </p>
    </div>
    <div data-aos="fade-up" class="row linha3">
        <h3>Nossa missão</h3>
        <p>
            Nossa missão é criar uma ponte entre a Psicologia e a Tecnologia, oferecendo uma ferramenta útil e educativa
             que facilite a compreensão e a análise de avaliações psicológicas. Acreditamos que, ao unir essas duas áreas, 
             podemos contribuir para uma melhor compreensão e aplicação das práticas psicológicas, ao mesmo tempo em que 
             aprimoramos nossas habilidades técnicas e colaborativas.
        </p>
        <p class="fw-semibold">
            Agradecemos sua visita e esperamos que nosso site seja uma ferramenta útil e agradável para você. Sinta-se à 
            vontade para explorar, preencher o formulário e descobrir os insights apresentados em nossa dashboard.
        </p>
    </div>
    <div data-aos="fade-up" class="row linha4 ">
        <h3>Desenvolvedores</h3>
        <div class="container-fill my-4">
            <div class="row gap-5 imagens">
                <div data-aos="zoom-in" class="col justify-end animation" style="cursor: pointer;" (click)="redirect('https://www.linkedin.com/in/jo%C3%A3o-pedro-lopes-moreira-7356141b7/')">
                    <img src="assets/img/joaopedro3.png">
                    <h4>João Moreira</h4>
                    <p>Design/Front-end</p>
                </div>
                <div data-aos="zoom-in" class="col animation" style="cursor: pointer;" (click)="redirect('https://www.linkedin.com/in/lucas-marinho-b88ab5271/')">
                    <img src="assets/img/marinho.png">
                    <h4>Lucas Marinho</h4>
                    <p>Front-end</p>
                </div>
                <div data-aos="zoom-in" class="col animation" style="cursor: pointer;" (click)="redirect('https://www.linkedin.com/in/marciomdrs/')">
                    <img src="assets/img/marcio.jpg">
                    <h4>Márcio Medeiros</h4>
                    <p>Back-end</p>
                </div>
            </div>
        </div>
    </div>
</div>