<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{active:i==index}" *ngFor="let opt of content;index as i">
        <div class="content-carousel" [ngStyle]="{'background': 'url('+opt.img+')' + 'no-repeat center / cover'}">
           <h1>{{opt.title}}</h1>
           <hr>
           <p>{{opt.description}}</p>  
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>