<div class="container-fill">
  <div
    data-aos="fade-up"
    class="background-custom mt-5 d-flex justify-content-center align-items-center"
  >
    <h3 class="fs-3 text-center">
      Você já ouviu falar em avaliação psicológica?
    </h3>
  </div>

  <div class="p-5 custom-flex mt-5">
    <span
      class="align-items-start d-flex flex-row align-items-center column-gap-3"
      data-aos="fade-up"
    >
      <div
        style="
          min-width: 1rem;
          min-height: 1rem;
          background-color: var(--ucla-blue);
          border-radius: 50%;
        "
      ></div>
      <p class="fs-4">
        Avaliação Psicológica é um jeito estruturado de entender como pensamos e
        sentimos, ajudando a tomar decisões importantes.
      </p>
    </span>
    <span
      class="align-self-end d-flex flex-row align-items-center column-gap-3"
      data-aos="fade-up"
    >
      <div
        style="
          min-width: 1rem;
          min-height: 1rem;
          background-color: var(--ucla-blue);
          border-radius: 50%;
        "
      ></div>
      <p class="fs-4">
        Usa várias ferramentas e técnicas para explorar a mente e o
        comportamento.
      </p>
    </span>
    <span
      class="align-items-start d-flex flex-row align-items-center column-gap-3"
      data-aos="fade-up"
    >
      <div
        style="
          min-width: 1rem;
          min-height: 1rem;
          background-color: var(--ucla-blue);
          border-radius: 50%;
        "
      ></div>
      <p class="fs-4">
        É um processo contínuo que fornece insights valiosos sobre nossos
        pensamentos e ações.
      </p>
    </span>
    <span
      class="align-self-end d-flex flex-row align-items-center column-gap-3"
      data-aos="fade-up"
    >
      <div
        style="
          min-width: 1rem;
          min-height: 1rem;
          background-color: var(--ucla-blue);
          border-radius: 50%;
        "
      ></div>
      <p class="fs-4">
        Ajuda psicólogos em áreas como saúde, educação, trabalho e muito mais,
        sempre que é preciso entender melhor as pessoas.
      </p>
    </span>
  </div>
</div>
