/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    --oxford-blue: #101935;
    --ucla-blue: #4D7298;
    --light-blue: #A8D0DB;
    --champagne-pink: #EEDED3;
    --azure: #F2FDFF;
    --white: #FFFFFF;
    --purple: #564787;
}

* {
  margin: 0;
  padding: 0;// box-sizing: border-box;
}

body {
    background-color: var(--azure);
}
